* {
    padding: 0;
    margin: 0;
}

body {
    background: rgba(1, 68, 107, 0.596);
    margin: 30px;
    color: white;
    font-family: 'League Spartan', sans-serif;
}

.logo {
    font-size: 40px;
    color: white;
    font-weight: 600;
    padding: 0;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    color: rgba(223, 223, 223, 0.705);
    font-size: 20px;
    padding: 10px ;

}

header a.active {
    background: rgb(189, 147, 69);
    color: white;
    border-radius: 5px;
}
nav {
    display: flex;
    gap: 20px;
}

main {
    max-width: 1300px;
    margin: 50px auto;
}

main p {
    margin-top: 20px;
}

.help-link {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.help-link a {
    font-size: 25px;
    color:white;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid white;
}

.help-link a:hover {
    border: 1px solid #181818;
    color: #181818;
}

.help-link a.active {
   border: 1px solid #181818;
    color: #181818;
}

.help-main {
    margin-top: 50px;
}

.help-main h1 {
    margin-bottom: 30px;
}

.help-main p {
    font-size: 20px;
}

.question {
    background: rgba(160, 160, 160, 0.24);
    padding: 10px 15px;
    margin-bottom: 20px;
    border-radius: 10px;
}

label {
    display: block;
    margin: 10px 0;
}

input, textarea {
    border: none;
    padding: 7px 12px;
    border-radius: 10px;
    font-family: inherit;
    font-size: 15px;
    outline: none;
}

textarea {
    width: 250px;
    height: 100px;
}

button {
    display: block;
    margin-top: 25px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background: #fff;
    font-family: inherit;
    font-weight: 600;
    font-size: 15px;
    transition: all 0.2s;
    cursor: pointer;
}

button:hover {
    background: rgb(3, 3, 3);
    color: white;
}

.error {
    text-align: center;
}

.profile-container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin: 30px auto;
}

ul {
    list-style: none;
}

.profile-left-part {
    width: 200px;
}

.block {
    background: #fff;
    padding: 30px;
    border-radius: 0.7rem;
}

.profile-list li a {
    font-size: 20px;
    padding: 10px;
}

.profile-list li a.active {
    background: rgb(189, 147, 69);
    color: white;
    border-radius: 0.3rem;
}

.profile-list li {
    margin-bottom: 20px;
}

.profile-right-part {
    color: black;
    height: 500px;
    flex-grow: 1;
    text-align: center;
}